.aboutMe {
  display: block;
}

.intro {
  text-align: center;
  color: #e1deec;
  font-size: 200%;
  margin-left: 4%;
  margin-right: 4%;
}

.imageContainer {
  text-align: center;
  margin-bottom: 10px;
}

.bioImg {
  height: auto;
  width: 300px;
  border-radius: 50%;
  border: solid #e1deec 2px;
}

.bioText {
  font-size: 110%;
  margin-left: 10%;
  margin-right: 10%;
  color: #e1deec;
}
