.navItem {
  font-size: 20px;
  font-weight: bold;
}

.navDesign {
  margin-left: auto;
  margin-right: 2%;
  margin-top: -4%;
}

/* figure out why these styles not being added */
.navItemColor {
  color:#b7b1d2;
}
.navActive {
  transition-duration: .3s;
  color: #37a987;
}

/* 
@media screen and (max-width:96rem) {
  .navDesign {
    margin-left: auto;
    margin-right: 8%;
    margin-top: -5%;
  }
}

@media screen and (max-width:992px) {
  .navDesign {
    padding-right: 10%;
    width: 60%;
  }

  .navDesign li {
    position: relative;
    margin-right: 5px;
    margin-top: -4%;
  }
}

@media screen and (max-width:768px) {
  .navDesign {
    text-align: center;

  }
  .navItem {
    display: inline;
    margin-left: 2rem;
    margin-right: 2rem;
  }
} */