.resumeLink {
  color: #e1deec;
  font-size: 110%;
}

.resumeLink:hover {
  transition: .2s ease;
  font-weight: bold;
  color: #9993af;
}

.resumeContainer {
  /* margin-left: 5%; */
  text-align: center;
  color: #e1deec;
}

.resumeContainer ul {
  display: inline-block;
  text-align: left;
  padding-right: 5%;
}