.title {
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
}

/* Forms and text boxes */
.forms {
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.textboxLabel {
  font-size: 125%;
  font-weight: bold;
  color: #e1deec;
}

.textbox {
  width: 20%;
  font-size: 16px;
  padding: 3px;
}

/* Button */
.submitBtn {
  border: solid #e1deec 1px;
  border-radius: 5px; 
  margin-left: 5%;
  transition-duration: 0.4s;
}

.submitBtn:hover {
  background-color: indigo;
  color: white;
}

.errorMessage {
  color: white;
  font-weight: bold;
  margin-top: -.5%;
}