.footerWrap {
  width:100%;
  position:fixed;
  bottom: 0px;
}

.footer {
  width: 20%;
  margin:auto;
}

.footerContent {
  float:left;
  width:100%;
  padding:20px 0;
  display: inline-flex;
  margin-bottom: -4%;
}

.footer a {
  float:left; 
  width:100%; 
  text-align:center;   
}

.footer a img {
  border-radius: 7px;  
}

.footer a img:hover {
  height: auto;
  width: 40%;
}