/* Card size and positioning */
.size {
  height: 250px;
  width: 500px;
}

.margin {
  margin: 20px;
}

/* firgure out how to add border to each project image */
.border {
  border: 25px solid red;
}

/* Card text */
.text-color {
  color: black;
}
