.title {
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.resumeLink {
  text-decoration: none;
  color: black;
}

.resumeLink:hover {
  font-size: 98%;
  color: black;
}

.resumeContents {
  margin-left: 5%;
}