.title {
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.resumeLink {
  text-decoration: none;
  color: #e1deec;
}

.resumeLink:hover {
  transition: .2s ease;
  font-weight: bold;
  color: #9993af;
}

.resumeContents {
  margin-left: 5%;
  color: #e1deec;
}
